In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Skole,UA,2021-05-27 16:02:24,49.0372,23.5135,64.33,62,43,7.00
1,1,Busselton,AU,2021-05-27 16:02:04,-33.6500,115.3333,59.09,82,1,10.18
2,2,Guerande,FR,2021-05-27 16:02:24,47.3291,-2.4283,67.69,71,81,5.06
3,3,Mar Del Plata,AR,2021-05-27 16:01:45,-38.0023,-57.5575,70.00,55,81,8.99
4,4,Vanavara,RU,2021-05-27 16:01:14,60.3400,102.2797,40.05,55,48,2.66

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4 )
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hithadhoo,MV,2021-05-27 16:02:25,-0.6000,73.0833,84.07,74,82,17.13
7,7,Victoria,HK,2021-05-27 15:58:00,22.2855,114.1577,87.33,82,89,4.00
12,12,Savannah Bight,HN,2021-05-27 16:02:27,16.4500,-85.8500,84.99,78,80,14.54
14,14,Puerto Ayora,EC,2021-05-27 16:02:28,-0.7393,-90.3518,77.56,89,61,5.99
15,15,Katobu,ID,2021-05-27 16:02:28,-4.9408,122.5276,76.60,89,16,7.05
17,17,Butaritari,KI,2021-05-27 16:02:29,3.0707,172.7902,82.78,79,71,19.66
21,21,Nishihara,JP,2021-05-27 16:02:30,26.1842,127.7558,78.08,94,75,3.76
26,26,Alofi,NU,2021-05-27 16:02:32,-19.0595,-169.9187,77.63,80,33,7.65
36,36,Fare,PF,2021-05-27 16:02:35,-16.7000,-151.0167,80.08,73,2,6.78
38,38,Sao Filipe,CV,2021-05-27 16:02:35,14.8961,-24.4956,75.56,72,0,12.37

In [12]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5        Hithadhoo      MV     84.07  -0.6000   73.0833
7         Victoria      HK     87.33  22.2855  114.1577
12  Savannah Bight      HN     84.99  16.4500  -85.8500
14    Puerto Ayora      EC     77.56  -0.7393  -90.3518
15          Katobu      ID     76.60  -4.9408  122.5276
17      Butaritari      KI     82.78   3.0707  172.7902
21       Nishihara      JP     78.08  26.1842  127.7558
26           Alofi      NU     77.63 -19.0595 -169.9187
36            Fare      PF     80.08 -16.7000 -151.0167
38      Sao Filipe      CV     75.56  14.8961  -24.4956

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found .......skipping.")
        
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
Hotel not found .......skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hithadhoo,MV,84.07,-0.6000,73.0833,Scoop Guest House
7,Victoria,HK,87.33,22.2855,114.1577,Mini Hotel Central
12,Savannah Bight,HN,84.99,16.4500,-85.8500,Villa on Dunbar Rock
14,Puerto Ayora,EC,77.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Katobu,ID,76.60,-4.9408,122.5276,La Ode Husein
17,Butaritari,KI,82.78,3.0707,172.7902,Isles Sunset Lodge
21,Nishihara,JP,78.08,26.1842,127.7558,Minshuku Agaihama
26,Alofi,NU,77.63,-19.0595,-169.9187,Taloa Heights
36,Fare,PF,80.08,-16.7000,-151.0167,Maitai Lapita Village Huahine
38,Sao Filipe,CV,75.56,14.8961,-24.4956,Hotel Xaguate

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))